<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <%=link_to 'Home', root_path %>
        </li>
        <li>
            <%=link_to 'Store', items_path %>
        </li>
        <li class="is-active">&#160;&#160;
            <%= @items.name%>
        </li>
    </ul>

    <br>

    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</nav>


<div class="column is-2">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <%= image_tag @items.image, alt: @items.name %>
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        <%=@items.name %>
                    </p>
                    <p class="subtitle is-6">
                        <%=number_to_currency @items.cost %>
                    </p>
                </div>
            </div>

            <div class="content">
                <%=@items.lore%>
            </div>
            <P>Quantity: <%=@items.quantity%></p>
            <br>
            <%= form_tag(cart_items_path, :method => "get", id: "add-to-cart-form") do %>
            <p><%= link_to "Add to Cart", add_to_cart_path(@items.id), method: :post, class:"button is-info" %></p>
            <%end%>
        </div>
    </div>
</div>

